<a href="https://colab.research.google.com/github/SyedSsaadHussain/PROJECT-2/blob/main/Project_Data_Science.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df=pd.read_excel('employee (2).xlsx',index_col="Serial")
df

        Emp_ID Designation  Department   Age    Salary
Serial
1         1101     Manager    Accounts  50.0  200000.0
2         1107     Officer          IT  30.0   80000.0
3         1203     Officer          HR  28.0       NaN
4         1005     Manager          HR  45.0  120000.0
5         2123  Office Boy    Accounts  27.0   45000.0
6         2451  Accountant         NaN  34.0  100000.0
7         1111  Accountant    Accounts   NaN  110000.0
8         1001     Officer          IT  25.0   75000.0
9         1234     Manager          IT  23.0       NaN
10        2156    Engineer  Production  45.0   89000.0
11        6543     Officer  Production  29.0  100000.0
12        3214  Accountant     Account  49.0  123000.0
13        2156    Engineer  Production  45.0   89000.0
14        1098     Officer          IT  25.0  100000.0
15        2912     Officer          IT  31.0   90000.0
16        1222     Officer         NaN  25.0       NaN
17        2156    Engineer  Production  45.0   89000.0
18        2123  Office Boy    Accounts  27.0   45000.0

In [ ]:
df[df.duplicated()]

        Emp_ID Designation  Department   Age   Salary
Serial
13        2156    Engineer  Production  45.0  89000.0
17        2156    Engineer  Production  45.0  89000.0
18        2123  Office Boy    Accounts  27.0  45000.0

In [ ]:
csc=df['Designation'].value_counts()
csc

Designation
Officer       7
Manager       3
Accountant    3
Engineer      3
Office Boy    2
Name: count, dtype: int64

In [ ]:
df.drop_duplicates()

        Emp_ID Designation  Department   Age    Salary
Serial
1         1101     Manager    Accounts  50.0  200000.0
2         1107     Officer          IT  30.0   80000.0
3         1203     Officer          HR  28.0       NaN
4         1005     Manager          HR  45.0  120000.0
5         2123  Office Boy    Accounts  27.0   45000.0
6         2451  Accountant         NaN  34.0  100000.0
7         1111  Accountant    Accounts   NaN  110000.0
8         1001     Officer          IT  25.0   75000.0
9         1234     Manager          IT  23.0       NaN
10        2156    Engineer  Production  45.0   89000.0
11        6543     Officer  Production  29.0  100000.0
12        3214  Accountant     Account  49.0  123000.0
14        1098     Officer          IT  25.0  100000.0
15        2912     Officer          IT  31.0   90000.0
16        1222     Officer         NaN  25.0       NaN

In [ ]:
df['Age']= df['Age'].fillna(df['Age'].mean()).astype(int)
df

        Emp_ID Designation  Department  Age    Salary
Serial
1         1101     Manager    Accounts   50  200000.0
2         1107     Officer          IT   30   80000.0
3         1203     Officer          HR   28       NaN
4         1005     Manager          HR   45  120000.0
5         2123  Office Boy    Accounts   27   45000.0
6         2451  Accountant         NaN   34  100000.0
7         1111  Accountant    Accounts   34  110000.0
8         1001     Officer          IT   25   75000.0
9         1234     Manager          IT   23       NaN
10        2156    Engineer  Production   45   89000.0
11        6543     Officer  Production   29  100000.0
12        3214  Accountant     Account   49  123000.0
13        2156    Engineer  Production   45   89000.0
14        1098     Officer          IT   25  100000.0
15        2912     Officer          IT   31   90000.0
16        1222     Officer         NaN   25       NaN
17        2156    Engineer  Production   45   89000.0
18        2123  Office Boy    Accounts   27   45000.0

In [ ]:
df['Salary']= df['Salary'].fillna(df['Salary'].mean()).astype(int)
df

        Emp_ID Designation  Department  Age  Salary
Serial
1         1101     Manager    Accounts   50  200000
2         1107     Officer          IT   30   80000
3         1203     Officer          HR   28   97000
4         1005     Manager          HR   45  120000
5         2123  Office Boy    Accounts   27   45000
6         2451  Accountant         NaN   34  100000
7         1111  Accountant    Accounts   34  110000
8         1001     Officer          IT   25   75000
9         1234     Manager          IT   23   97000
10        2156    Engineer  Production   45   89000
11        6543     Officer  Production   29  100000
12        3214  Accountant     Account   49  123000
13        2156    Engineer  Production   45   89000
14        1098     Officer          IT   25  100000
15        2912     Officer          IT   31   90000
16        1222     Officer         NaN   25   97000
17        2156    Engineer  Production   45   89000
18        2123  Office Boy    Accounts   27   45000

In [ ]:
df['Department']= df['Department'].fillna(df['Department'].mode()[0])
df

        Emp_ID Designation  Department  Age  Salary
Serial
1         1101     Manager    Accounts   50  200000
2         1107     Officer          IT   30   80000
3         1203     Officer          HR   28   97000
4         1005     Manager          HR   45  120000
5         2123  Office Boy    Accounts   27   45000
6         2451  Accountant          IT   34  100000
7         1111  Accountant    Accounts   34  110000
8         1001     Officer          IT   25   75000
9         1234     Manager          IT   23   97000
10        2156    Engineer  Production   45   89000
11        6543     Officer  Production   29  100000
12        3214  Accountant     Account   49  123000
13        2156    Engineer  Production   45   89000
14        1098     Officer          IT   25  100000
15        2912     Officer          IT   31   90000
16        1222     Officer          IT   25   97000
17        2156    Engineer  Production   45   89000
18        2123  Office Boy    Accounts   27   45000